/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

::selection {
    background-color: darkorange;
}


/* End of resets above */
:root {
    --clr-white: #FAFAFA;
    --clr-blaze-orange: #FF6201;
    --clr-black: #242526; 
    --clr-carbon-black: #191919;
    --clr-tomato: #FE5E41;
}


html {
    background-color: var(--clr-black);
    /* background-color: rgba(20, 20, 20, 0.945); */
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display:flex;
    flex: 1;
    overflow: auto;
  
}


.main-sidebar {
    display: flex; 
    width: 300px;
    border-right: 3px solid darkorange;
    justify-content: center;

}

.main-sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

}

.main-sidebar ul li {
    list-style-type: none;
    margin: 12px;
     
}

.main-sidebar ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.main-sidebar ul li a img { 
    padding-right: 5px;
}

.main-sidebar ul li a:hover{
    color: rgb(255, 140, 0);
}

.main-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.title-header{
    height: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


header ul {
    list-style-type: none;
}


header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid darkorange; 
}

.header-title{ 
    display: flex; 
    flex-direction: row;
}

.header-title p {
    border-left: 3px solid white; 
    padding-left: 15px;
}

.header-title p span {
    border-right: 3px solid darkorange;
    padding-right: 15px;
}

.header-links{
    display: flex;
    flex-direction: row;
}

header ul li a {
    text-decoration: none;
    color: white;
    list-style-type: none;
    display: block;
    padding: 20px;
}

header ul li a:hover{ 
    color: darkorange;
}


.color-darkorange{
    color:darkorange;
}

a {
    font-weight: bolder;
}

footer {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    height: 70px;
    border-top: 3px solid darkorange;
}

.footer-container { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watermark{
    display: flex;
    align-items: center;
}

.watermark img{
    padding-left: 20px;
}

.watermark span:hover{
    color: rgba(255, 140, 0, 0.856);
    padding: 2px;
    cursor: pointer;
}

.copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copyright img{
    padding-right: 10px;
}
