.writeups-container { 
    display: flex;
    padding-left: 20px;
    margin-top: 25px;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    
}

.writeups-container h1 {
    margin-bottom: 5px;
    
}

.writeups-container ul li::marker {
  color: darkorange;
}
 
.writeups-container ul li {
   font-family: monospace;
   font-size: clamp(12px, 8vw, 14px);
}

.writeups-container ul li a {
    text-decoration: none;
    color: white;
}

.writeups-container ul li a:hover{
    color: red;
    
    
}